VDS 설치정보 조회 서비스 
http://data.ex.co.kr/openapi/basicinfo/openApiInfoM?apiId=0404&serviceType=&keyWord=&searchDayFrom=2014.12.01&searchDayTo=2022.06.21&CATEGORY=TR&GROUP_TR=COD_STD

In [1]:
! pip install xmltodict

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.13.0

In [2]:
import json

def parse_re(input_re: str):
    try:
        return_dict = json.loads(input_re)
    except json.decoder.JSONDecodeError:
        return_dict = dict()
    finally:
        return return_dict

In [3]:
import pandas as pd
from pandas.io.json import json_normalize
import requests
import pprint
import json

count : 7864 그리고 numOfRows 는 99씩으로, pageNo은 80개로

![image.png]()

In [4]:
df = []

for i in range(0,80): # 0 부터 79까지임..

  url = 'http://data.ex.co.kr/openapi/vdsinfo/vdsList?key=....&type=json&numOfRows=99&pageNo={}'.format(i)

  response = requests.get(url) 
  contents = response.text 
  json_ob = parse_re(contents)
  body = json_ob['list']

  globals()["dataframe{}".format(i)] = pd.DataFrame(body)
  
  print('완료')

완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료
완료

In [16]:
url = 'http://data.ex.co.kr/openapi/vdsinfo/vdsList?key=2699999413&type=json&numOfRows=99&pageNo={}'.format(80)

response = requests.get(url) 
contents = response.text 
json_ob = parse_re(contents)
body = json_ob['list']

globals()["dataframe{}".format(80)] = pd.DataFrame(body)

In [50]:
print(dataframe80.shape)

(43, 20)

## 리스트 공부

name = [j for j in range(0,80)] # 숫자
name = list(map(str,name)) # int를 str로 변환

name2 = ['dataframe'] * 80 # 데이터프레임

print(name2+name)

In [13]:
for k in range(0,3):
  print('dataframe{}'.format(k)) ###오!

dataframe0
dataframe1
dataframe2

In [36]:
print(dataframe70.shape)
print(dataframe71.shape)
print(dataframe72.shape)
print(dataframe73.shape)
print(dataframe74.shape)
print(dataframe75.shape)
print(dataframe76.shape)
print(dataframe77.shape)
print(dataframe78.shape)
print(dataframe79.shape)
print(dataframe80.shape)
#print(dataframe81.shape)

(99, 20)
(99, 20)
(99, 20)
(99, 20)
(99, 20)
(99, 20)
(99, 20)
(99, 20)
(99, 20)
(99, 20)
(43, 20)

## 해결 ^.<

## 여러개의 데이터프레임 concat으로 결합

In [38]:
pineapple = []

for j in range(0,81):
  pineapple.append('dataframe{}'.format(j))

In [39]:
print(pineapple)

['dataframe0', 'dataframe1', 'dataframe2', 'dataframe3', 'dataframe4', 'dataframe5', 'dataframe6', 'dataframe7', 'dataframe8', 'dataframe9', 'dataframe10', 'dataframe11', 'dataframe12', 'dataframe13', 'dataframe14', 'dataframe15', 'dataframe16', 'dataframe17', 'dataframe18', 'dataframe19', 'dataframe20', 'dataframe21', 'dataframe22', 'dataframe23', 'dataframe24', 'dataframe25', 'dataframe26', 'dataframe27', 'dataframe28', 'dataframe29', 'dataframe30', 'dataframe31', 'dataframe32', 'dataframe33', 'dataframe34', 'dataframe35', 'dataframe36', 'dataframe37', 'dataframe38', 'dataframe39', 'dataframe40', 'dataframe41', 'dataframe42', 'dataframe43', 'dataframe44', 'dataframe45', 'dataframe46', 'dataframe47', 'dataframe48', 'dataframe49', 'dataframe50', 'dataframe51', 'dataframe52', 'dataframe53', 'dataframe54', 'dataframe55', 'dataframe56', 'dataframe57', 'dataframe58', 'dataframe59', 'dataframe60', 'dataframe61', 'dataframe62', 'dataframe63', 'dataframe64', 'dataframe65', 'dataframe66', 'dataframe67', 'dataframe68', 'dataframe69', 'dataframe70', 'dataframe71', 'dataframe72', 'dataframe73', 'dataframe74', 'dataframe75', 'dataframe76', 'dataframe77', 'dataframe78', 'dataframe79', 'dataframe80']

In [43]:
StrP = ", ".join(pineapple)
StrP

'dataframe0, dataframe1, dataframe2, dataframe3, dataframe4, dataframe5, dataframe6, dataframe7, dataframe8, dataframe9, dataframe10, dataframe11, dataframe12, dataframe13, dataframe14, dataframe15, dataframe16, dataframe17, dataframe18, dataframe19, dataframe20, dataframe21, dataframe22, dataframe23, dataframe24, dataframe25, dataframe26, dataframe27, dataframe28, dataframe29, dataframe30, dataframe31, dataframe32, dataframe33, dataframe34, dataframe35, dataframe36, dataframe37, dataframe38, dataframe39, dataframe40, dataframe41, dataframe42, dataframe43, dataframe44, dataframe45, dataframe46, dataframe47, dataframe48, dataframe49, dataframe50, dataframe51, dataframe52, dataframe53, dataframe54, dataframe55, dataframe56, dataframe57, dataframe58, dataframe59, dataframe60, dataframe61, dataframe62, dataframe63, dataframe64, dataframe65, dataframe66, dataframe67, dataframe68, dataframe69, dataframe70, dataframe71, dataframe72, dataframe73, dataframe74, dataframe75, dataframe76, dataframe77, dataframe78, dataframe79, dataframe80'

In [45]:
dataframe = pd.concat([dataframe0, dataframe1, dataframe2, dataframe3, dataframe4, dataframe5, dataframe6, dataframe7, dataframe8, dataframe9, dataframe10, dataframe11, dataframe12, dataframe13, dataframe14, dataframe15, dataframe16, dataframe17, dataframe18, dataframe19, dataframe20, dataframe21, dataframe22, dataframe23, dataframe24, dataframe25, dataframe26, dataframe27, dataframe28, dataframe29, dataframe30, dataframe31, dataframe32, dataframe33, dataframe34, dataframe35, dataframe36, dataframe37, dataframe38, dataframe39, dataframe40, dataframe41, dataframe42, dataframe43, dataframe44, dataframe45, dataframe46, dataframe47, dataframe48, dataframe49, dataframe50, dataframe51, dataframe52, dataframe53, dataframe54, dataframe55, dataframe56, dataframe57, dataframe58, dataframe59, dataframe60, dataframe61, dataframe62, dataframe63, dataframe64, dataframe65, dataframe66, dataframe67, dataframe68, dataframe69, dataframe70, dataframe71, dataframe72, dataframe73, dataframe74, dataframe75, dataframe76, dataframe77, dataframe78, dataframe79, dataframe80])
dataframe = dataframe.reset_index(drop=True)
dataframe

,pageNo,numOfRows,routeNo,routeName,vdsId,shift,vdsLength,roadgradeCode,roadgradeName,equipmentBelongingCode,equipmentBelongingName,grs80x,grs80y,vdsStartShift,vdsEndShift,vdsCode,vdsName,routeSeq,directionCode,czId
0,None,None,0010,경부선,0010VDE00100,1.40km,1820.00m,101,고속국도,00,본선,391265.168637,297630.018235,0.20km,2.02km,1,FTMS 본선 VDS,1,E,0010CZE010
1,None,None,0010,경부선,0010VDE00200,2.40km,830.00m,101,고속국도,00,본선,391642.598589,298552.156704,2.02km,2.85km,1,FTMS 본선 VDS,2,E,0010CZE011
2,None,None,0010,경부선,0010VDE00300,3.30km,1160.00m,101,고속국도,00,본선,391873.613256,299421.826590,2.85km,4.01km,1,FTMS 본선 VDS,3,E,0010CZE011
3,None,None,0010,경부선,0010VDE00400,4.50km,1070.00m,101,고속국도,00,본선,391448.586328,300528.993655,4.01km,5.08km,1,FTMS 본선 VDS,4,E,0010CZE020
4,None,None,0010,경부선,0010VDE00500,5.10km,500.00m,101,고속국도,00,본선,391067.934813,300978.016235,5.08km,5.58km,1,FTMS 본선 VDS,5,E,0010CZE030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7958,None,None,6000,부산외곽선,6000VDS03150,38.59km,1100.00m,101,고속국도,00,본선,391774.789168,300689.804439,38.98km,37.88km,1,FTMS 본선 VDS,5,S,6000CZS070
7959,None,None,6000,부산외곽선,6000VDS03200,41.06km,4240.00m,101,고속국도,00,본선,394215.339099,300969.439132,43.22km,38.98km,1,FTMS 본선 VDS,4,S,6000CZS080
7960,None,None,6000,부산외곽선,6000VDS03300,43.39km,1060.00m,101,고속국도,00,본선,396441.545159,300437.207726,44.28km,43.22km,1,FTMS 본선 VDS,3,S,6000CZS090
7961,None,None,6000,부산외곽선,6000VDS03400,45.16km,2010.00m,101,고속국도,00,본선,398213.845002,300128.303582,46.29km,44.28km,1,FTMS 본선 VDS,2,S,6000CZS090
7962,None,None,6000,부산외곽선,6000VDS03500,47.41km,2510.00m,101,고속국도,00,본선,400378.710312,300508.004161,48.80km,46.29km,1,FTMS 본선 VDS,1,S,6000CZS090

In [51]:
dataframe.to_excel('VDS 설치정보 조회 서비스.xlsx',index=False)