<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#ğŸ¥°" data-toc-modified-id="ğŸ¥°-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>ğŸ¥°</a></span><ul class="toc-item"><li><span><a href="#(í‰ê· ì†ë„)--'êµ¬ê°„ë³„---ì¼ë³„'-ì„-êµ¬ê°„ë³„---ì›”ë³„'-ë¡œ-ë³€í™˜" data-toc-modified-id="(í‰ê· ì†ë„)--'êµ¬ê°„ë³„---ì¼ë³„'-ì„-êµ¬ê°„ë³„---ì›”ë³„'-ë¡œ-ë³€í™˜-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>(í‰ê· ì†ë„)  'êµ¬ê°„ë³„ - ì¼ë³„' ì„ êµ¬ê°„ë³„ - ì›”ë³„' ë¡œ ë³€í™˜</a></span></li></ul></li><li><span><a href="#ì›”---êµ¬ê°„-ë³„ë¡œ-ì‚¬ê³ -íšŸìˆ˜" data-toc-modified-id="ì›”---êµ¬ê°„-ë³„ë¡œ-ì‚¬ê³ -íšŸìˆ˜-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>ì›” - êµ¬ê°„ ë³„ë¡œ ì‚¬ê³  íšŸìˆ˜</a></span><ul class="toc-item"><li><span><a href="#ì›”ë³„---êµ¬ê°„ë³„-(ì£¼ê°„í‰ê· ì†ë„ì˜-í‰ê· ,-ì „ì¼í‰ê· ì†ë„ì˜-í‰ê· ,-ì‚¬ê³ íšŸìˆ˜,)-or-ì‚¬ê³ íšŸìˆ˜-ë§ê³ -ì‚¬ê³ -ì§€ì -merge" data-toc-modified-id="ì›”ë³„---êµ¬ê°„ë³„-(ì£¼ê°„í‰ê· ì†ë„ì˜-í‰ê· ,-ì „ì¼í‰ê· ì†ë„ì˜-í‰ê· ,-ì‚¬ê³ íšŸìˆ˜,)-or-ì‚¬ê³ íšŸìˆ˜-ë§ê³ -ì‚¬ê³ -ì§€ì -merge-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>ì›”ë³„ - êµ¬ê°„ë³„ (ì£¼ê°„í‰ê· ì†ë„ì˜ í‰ê· , ì „ì¼í‰ê· ì†ë„ì˜ í‰ê· , ì‚¬ê³ íšŸìˆ˜,) or ì‚¬ê³ íšŸìˆ˜ ë§ê³  ì‚¬ê³  ì§€ì  merge</a></span></li><li><span><a href="#id-columns-ìƒì„±-(key)" data-toc-modified-id="id-columns-ìƒì„±-(key)-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>id columns ìƒì„± (key)</a></span></li></ul></li><li><span><a href="#ì¢Œí‘œì¶”ê°€" data-toc-modified-id="ì¢Œí‘œì¶”ê°€-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>ì¢Œí‘œì¶”ê°€</a></span></li></ul></div>

## ğŸ¥°

In [173]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set()
%matplotlib inline

In [93]:
df = pd.read_excel("01.ëŒë°œìƒí™© í†µê³„_2021_ì‚¬ê³ ë§Œ_ì´ê±°ì§„ì§œ.xlsx")

In [94]:
df.head(3)

,ì—°ë„,ì›”,ì¼,ëŒë°œìœ í˜•,ëŒë°œìƒì„¸,ë„ë¡œëª…,ë°©í–¥,êµ¬ê°„,ë°œìƒì°¨ë¡œ,í†µì œì°¨ë¡œ,ë°œìƒì¼ì‹œ,ì¢…ë£Œì¼ì‹œ,ì‹¬ê°ë„,ìœ„ë„,ê²½ë„,ê±´ìˆ˜,ìƒì„¸ë‚´ìš©
0,2021,1,1,ì‚¬ê³,ì°¨ëŸ‰ì‚¬ê³,ê²½ë¶€ê³ ì†ë„ë¡œ,ì„œìš¸,ì„œì´ˆIC ~ ë°˜í¬IC,1,1,2021-01-01 12:41:00,2021-01-01 13:01:00,ìƒ,37.488337,127.024254,1,ì‚¬ê³
1,2021,1,1,ì‚¬ê³,ì°¨ëŸ‰ì‚¬ê³,ê²½ë¶€ê³ ì†ë„ë¡œ,ë¶€ì‚°,ì„œìš¸T/G ~ ì‹ ê°ˆJC,"5,6","5,6",2021-01-01 18:17:00,2021-01-01 20:18:00,ìƒ,37.363652,127.103154,1,ì‚¬ê³
2,2021,1,1,ì‚¬ê³,ì°¨ëŸ‰ì‚¬ê³,ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ,ë™í™ì²œ,ì„œì¢…IC ~ ì„¤ì•…IC,1,1,2021-01-01 10:16:00,2021-01-01 11:02:00,ìƒ,37.649214,127.440746,1,ì‚¬ê³

In [149]:
code = df[['ì›”','êµ¬ê°„','ìœ„ë„','ê²½ë„']]

In [95]:
print(df.shape)

(5101, 17)

In [96]:
df2 = pd.read_excel("01.ê³ ì†ë„ë¡œ_2021_ì£¼ê°„_ì´ê±°ì§„ì§œ.xlsx")

In [97]:
df3 = pd.read_excel("01.ê³ ì†ë„ë¡œ_2021_ì „ì¼_ì¶”ê°€.xlsx")

In [98]:
df2 # ì›”ë³„ë¡œ ê°„ì†Œí™”
    # ì¼ë³„ë¡œ í•˜ë‹ˆ..

          ì—°ë„   ì›”   ì¼       í˜¸ì„ ëª…  ë°©í–¥            êµ¬ê°„ëª…  í‰ê· ì†ë„(km/h)
0       2021   1   1    ê²½ë¶€ê³ ì†ë„ë¡œ  ìƒí–‰  ê¸°í¥IC ~ ìˆ˜ì›ì‹ ê°ˆIC          79
1       2021   1   1    ê²½ë¶€ê³ ì†ë„ë¡œ  í•˜í–‰  ê¸°í¥IC ~ ê¸°í¥ë™íƒ„IC          92
2       2021   1   1    ê²½ë¶€ê³ ì†ë„ë¡œ  í•˜í–‰    ê¸°í¥IC ~ ë™íƒ„JC          92
3       2021   1   1    ê²½ë¶€ê³ ì†ë„ë¡œ  ìƒí–‰  ê¸°í¥ë™íƒ„IC ~ ê¸°í¥IC          84
4       2021   1   1    ê²½ë¶€ê³ ì†ë„ë¡œ  í•˜í–‰  ê¸°í¥ë™íƒ„IC ~ ë™íƒ„JC          91
...      ...  ..  ..       ...  ..            ...         ...
159489  2021  12  31  ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ  í•˜í–‰    ì„œì¢…IC ~ í™”ë„IC          85
159490  2021  12  31  ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ  ìƒí–‰    ì„¤ì•…IC ~ ê°•ì´ŒIC          88
159491  2021  12  31  ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ  í•˜í–‰    ì„¤ì•…IC ~ ì„œì¢…IC          92
159492  2021  12  31  ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ  ìƒí–‰    í™”ë„IC ~ ì„œì¢…IC          64
159493  2021  12  31  ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ  í•˜í–‰   í™”ë„IC ~ ë‚¨ì–‘ì£¼TG          93

[159494 rows x 7 columns]

In [99]:
df3

          ì—°ë„   ì›”   ì¼       í˜¸ì„ ëª…  ë°©í–¥            êµ¬ê°„ëª…  í‰ê· ì†ë„(km/h)
0       2021   1   1    ê²½ë¶€ê³ ì†ë„ë¡œ  ìƒí–‰  ê¸°í¥IC ~ ìˆ˜ì›ì‹ ê°ˆIC          82
1       2021   1   1    ê²½ë¶€ê³ ì†ë„ë¡œ  í•˜í–‰  ê¸°í¥IC ~ ê¸°í¥ë™íƒ„IC          95
2       2021   1   1    ê²½ë¶€ê³ ì†ë„ë¡œ  í•˜í–‰    ê¸°í¥IC ~ ë™íƒ„JC          95
3       2021   1   1    ê²½ë¶€ê³ ì†ë„ë¡œ  ìƒí–‰  ê¸°í¥ë™íƒ„IC ~ ê¸°í¥IC          85
4       2021   1   1    ê²½ë¶€ê³ ì†ë„ë¡œ  í•˜í–‰  ê¸°í¥ë™íƒ„IC ~ ë™íƒ„JC          95
...      ...  ..  ..       ...  ..            ...         ...
159489  2021  12  31  ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ  í•˜í–‰    ì„œì¢…IC ~ í™”ë„IC          89
159490  2021  12  31  ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ  ìƒí–‰    ì„¤ì•…IC ~ ê°•ì´ŒIC          88
159491  2021  12  31  ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ  í•˜í–‰    ì„¤ì•…IC ~ ì„œì¢…IC          93
159492  2021  12  31  ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ  ìƒí–‰    í™”ë„IC ~ ì„œì¢…IC          70
159493  2021  12  31  ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ  í•˜í–‰   í™”ë„IC ~ ë‚¨ì–‘ì£¼TG          96

[159494 rows x 7 columns]

In [100]:
df2.dtypes

ì—°ë„             int64
ì›”              int64
ì¼              int64
í˜¸ì„ ëª…           object
ë°©í–¥            object
êµ¬ê°„ëª…           object
í‰ê· ì†ë„(km/h)     int64
dtype: object

í™•ì¸í•´ë³´ë‹ˆ ì†ë„ì— 0 ê°’ì´ ê¸°ì…ë˜ì–´ ìˆë‹¤. 0ìœ¼ë¡œ ì…ë ¥ëœ ì—´ë“¤ì€ ì œê±°.

In [101]:
df2['í‰ê· ì†ë„(km/h)'].replace(0,np.nan,inplace=True)
df2.dropna(subset=['í‰ê· ì†ë„(km/h)'],inplace=True)

print(df2)

          ì—°ë„   ì›”   ì¼       í˜¸ì„ ëª…  ë°©í–¥            êµ¬ê°„ëª…  í‰ê· ì†ë„(km/h)
0       2021   1   1    ê²½ë¶€ê³ ì†ë„ë¡œ  ìƒí–‰  ê¸°í¥IC ~ ìˆ˜ì›ì‹ ê°ˆIC        79.0
1       2021   1   1    ê²½ë¶€ê³ ì†ë„ë¡œ  í•˜í–‰  ê¸°í¥IC ~ ê¸°í¥ë™íƒ„IC        92.0
2       2021   1   1    ê²½ë¶€ê³ ì†ë„ë¡œ  í•˜í–‰    ê¸°í¥IC ~ ë™íƒ„JC        92.0
3       2021   1   1    ê²½ë¶€ê³ ì†ë„ë¡œ  ìƒí–‰  ê¸°í¥ë™íƒ„IC ~ ê¸°í¥IC        84.0
4       2021   1   1    ê²½ë¶€ê³ ì†ë„ë¡œ  í•˜í–‰  ê¸°í¥ë™íƒ„IC ~ ë™íƒ„JC        91.0
...      ...  ..  ..       ...  ..            ...         ...
159489  2021  12  31  ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ  í•˜í–‰    ì„œì¢…IC ~ í™”ë„IC        85.0
159490  2021  12  31  ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ  ìƒí–‰    ì„¤ì•…IC ~ ê°•ì´ŒIC        88.0
159491  2021  12  31  ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ  í•˜í–‰    ì„¤ì•…IC ~ ì„œì¢…IC        92.0
159492  2021  12  31  ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ  ìƒí–‰    í™”ë„IC ~ ì„œì¢…IC        64.0
159493  2021  12  31  ì„œìš¸ì–‘ì–‘ê³ ì†ë„ë¡œ  í•˜í–‰   í™”ë„IC ~ ë‚¨ì–‘ì£¼TG        93.0

[158884 rows x 7 columns]

In [102]:
df2.to_csv('df2.csv',index=False)

### (í‰ê· ì†ë„)  'êµ¬ê°„ë³„ - ì¼ë³„' ì„ êµ¬ê°„ë³„ - ì›”ë³„' ë¡œ ë³€í™˜

êµ¬ê°„ì€ ê²½ê¸°ë„ ë° ì„œìš¸ ìˆ˜ë„ê¶Œ ê·¼ë°©ìœ¼ë¡œ í•œë‹¤

In [103]:
mont = df2.groupby(["ì›”",'êµ¬ê°„ëª…']).agg({"í‰ê· ì†ë„(km/h)":"mean"})
mont # good ~

                    í‰ê· ì†ë„(km/h)
ì›”  êµ¬ê°„ëª…
1  88JC ~ ê¹€í¬ê³µí•­IC     93.129032
   88JC ~ ë¶ë¡œJC       91.727273
   ê°ê³¡IC ~ ì—¬ì£¼JC       99.000000
   ê°•ì¼IC ~ ìƒì¼IC       67.580645
   ê°•ì¼IC ~ í† í‰IC       60.129032
...                        ...
12 í™”ì„±íœ´ê²Œì†Œ ~ ë°œì•ˆIC      83.774194
   í™”ì„±íœ´ê²Œì†Œ ~ ë¹„ë´‰IC      81.161290
   í¥ë•IC ~ ê´‘êµìƒí˜„IC     76.129032
   í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC     98.580645
   í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC   86.483871

[5162 rows x 1 columns]

In [104]:
mont.to_excel('mont.xlsx')

In [105]:
ttt = pd.read_excel("mont.xlsx")

In [106]:
ttt = ttt.fillna(method='ffill')
ttt

         ì›”              êµ¬ê°„ëª…  í‰ê· ì†ë„(km/h)
0      1.0    88JC ~ ê¹€í¬ê³µí•­IC   93.129032
1      1.0      88JC ~ ë¶ë¡œJC   91.727273
2      1.0      ê°ê³¡IC ~ ì—¬ì£¼JC   99.000000
3      1.0      ê°•ì¼IC ~ ìƒì¼IC   67.580645
4      1.0      ê°•ì¼IC ~ í† í‰IC   60.129032
...    ...              ...         ...
5157  12.0     í™”ì„±íœ´ê²Œì†Œ ~ ë°œì•ˆIC   83.774194
5158  12.0     í™”ì„±íœ´ê²Œì†Œ ~ ë¹„ë´‰IC   81.161290
5159  12.0    í¥ë•IC ~ ê´‘êµìƒí˜„IC   76.129032
5160  12.0    í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC   98.580645
5161  12.0  í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC   86.483871

[5162 rows x 3 columns]

In [107]:
ttt.isnull().sum()

ì›”             0
êµ¬ê°„ëª…           0
í‰ê· ì†ë„(km/h)    0
dtype: int64

In [108]:
ttt.to_csv('ttt.csv',index=False)

In [109]:
ttt['êµ¬ê°„ëª…'].value_counts()

ë™íƒ„JC ~ ê¸°í¥IC        12
ê¸ˆê³¡IC ~ ë™ì•ˆì‚°ë‹¹ìˆ˜       12
ë™íƒ„JC ~ ê¸°í¥ë™íƒ„IC      12
ì„œì—¬ì£¼(íœ´) ~ ì„œì—¬ì£¼IC     12
ì‹ ê°ˆJC ~ ìˆ˜ì›ì‹ ê°ˆIC      12
                   ..
ì„ ë‹¨IC ~ í¬ì²œIC        12
í•˜ë‚¨IC ~ í•˜ë‚¨JC        12
ì•ˆì‚°IC ~ ì„œì•ˆì‚°IC       12
ì‹ ë‘”í•˜ì´íŒ¨ìŠ¤IC ~ ì‚°ê³¡JC     1
ì‚°ê³¡JC ~ ë§ˆì¥JC         1
Name: êµ¬ê°„ëª…, Length: 432, dtype: int64

In [110]:
ttt['í‰ê· ì†ë„(km/h)'].describe()

count    5162.000000
mean       81.153065
std        14.367916
min        14.333333
25%        73.702419
50%        83.951075
75%        91.739785
max       110.000000
Name: í‰ê· ì†ë„(km/h), dtype: float64

In [111]:
#### ì „ì¼í‰ê· ì†ë„ì˜ í‰ê· ë„ ë™ì¼í•˜ê²Œ ì§„í–‰
df3['í‰ê· ì†ë„(km/h)'].replace(0,np.nan,inplace=True)
df3.dropna(subset=['í‰ê· ì†ë„(km/h)'],inplace=True)
mont = df3.groupby(["ì›”",'êµ¬ê°„ëª…']).agg({"í‰ê· ì†ë„(km/h)":"mean"})
mont

mont.to_excel('mont2.xlsx')
ttt2 = pd.read_excel("mont2.xlsx")
ttt2 = ttt2.fillna(method='ffill')
ttt2

         ì›”              êµ¬ê°„ëª…  í‰ê· ì†ë„(km/h)
0      1.0    88JC ~ ê¹€í¬ê³µí•­IC   93.419355
1      1.0      88JC ~ ë¶ë¡œJC   90.666667
2      1.0      ê°ê³¡IC ~ ì—¬ì£¼JC   96.612903
3      1.0      ê°•ì¼IC ~ ìƒì¼IC   80.709677
4      1.0      ê°•ì¼IC ~ í† í‰IC   62.129032
...    ...              ...         ...
5161  12.0     í™”ì„±íœ´ê²Œì†Œ ~ ë°œì•ˆIC   95.000000
5162  12.0     í™”ì„±íœ´ê²Œì†Œ ~ ë¹„ë´‰IC   86.354839
5163  12.0    í¥ë•IC ~ ê´‘êµìƒí˜„IC   82.903226
5164  12.0    í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC   99.387097
5165  12.0  í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC   90.483871

[5166 rows x 3 columns]

In [112]:
ttt2['í‰ê· ì†ë„(km/h)'].describe()

count    5166.000000
mean       85.909114
std        10.886397
min        19.000000
25%        80.193548
50%        88.133333
75%        93.887385
max       110.000000
Name: í‰ê· ì†ë„(km/h), dtype: float64

## ì›” - êµ¬ê°„ ë³„ë¡œ ì‚¬ê³  íšŸìˆ˜

In [113]:
Accid = df.groupby(["ì›”",'êµ¬ê°„']).agg({"êµ¬ê°„":"count"})
Accid

Accid.to_excel('Accid3.xlsx')
sss = pd.read_excel("Accid3.xlsx")
sss = sss.fillna(method='ffill')

sss.rename(columns = {'êµ¬ê°„':'êµ¬ê°„ëª…','êµ¬ê°„.1':'ì‚¬ê³ íšŸìˆ˜'},inplace=True)
sss

         ì›”              êµ¬ê°„ëª…  ì‚¬ê³ íšŸìˆ˜
0      1.0      ê°ê³¡IC ~ ì—¬ì£¼JC     6
1      1.0      ê°•ì¼IC ~ ìƒì¼IC     1
2      1.0      ê°•ì¼IC ~ í† í‰IC     3
3      1.0    ê²½ê¸°ê´‘ì£¼JC ~ ë§ˆì¥JC     2
4      1.0     ê³„ì–‘IC ~ ë…¸ì˜¤ì§€JC     5
...    ...              ...   ...
1882  12.0      í™”ë„IC ~ ì„œì¢…IC     1
1883  12.0     í™”ì„±íœ´ê²Œì†Œ ~ ë¹„ë´‰IC     4
1884  12.0     í™”ì„±íœ´ê²Œì†Œ ~ íŒ”íƒ„JC     3
1885  12.0    í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC     1
1886  12.0  í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC     2

[1887 rows x 3 columns]

In [114]:
sss.to_csv('sss.csv',index=False)

In [115]:
sss['ì‚¬ê³ íšŸìˆ˜'].value_counts()

1     789
2     414
3     251
4     134
5     102
6      63
7      39
8      32
10     15
9      14
11      8
12      5
13      4
16      4
19      3
14      2
17      2
15      1
18      1
20      1
21      1
22      1
23      1
Name: ì‚¬ê³ íšŸìˆ˜, dtype: int64

3ì›”	ì•ˆì„±íœ´ê²Œì†Œ ~ ì˜¤ì‚°IC	23 ?!

### ì›”ë³„ - êµ¬ê°„ë³„ (ì£¼ê°„í‰ê· ì†ë„ì˜ í‰ê· , ì „ì¼í‰ê· ì†ë„ì˜ í‰ê· , ì‚¬ê³ íšŸìˆ˜,) or ì‚¬ê³ íšŸìˆ˜ ë§ê³  ì‚¬ê³  ì§€ì  merge

In [55]:
ttt.dtypes

ì›”             float64
êµ¬ê°„ëª…            object
í‰ê· ì†ë„(km/h)    float64
dtype: object

In [56]:
ttt2.dtypes

ì›”             float64
êµ¬ê°„ëª…            object
í‰ê· ì†ë„(km/h)    float64
dtype: object

In [57]:
sss.dtypes

ì›”       float64
êµ¬ê°„ëª…      object
ì‚¬ê³ íšŸìˆ˜      int64
dtype: object

### id columns ìƒì„± (key)

In [116]:
ttt['ì›”'] = ttt['ì›”'].astype(int)
ttt2['ì›”'] = ttt2['ì›”'].astype(int)
sss['ì›”'] = sss['ì›”'].astype(int)

In [117]:
ttt['id'] = ttt['ì›”'].astype(str) + ttt['êµ¬ê°„ëª…']
ttt2['id'] = ttt2['ì›”'].astype(str) + ttt2['êµ¬ê°„ëª…']
sss['id'] = sss['ì›”'].astype(str) + sss['êµ¬ê°„ëª…']

In [118]:
ttt.head(2)

   ì›”            êµ¬ê°„ëª…  í‰ê· ì†ë„(km/h)              id
0  1  88JC ~ ê¹€í¬ê³µí•­IC   93.129032  188JC ~ ê¹€í¬ê³µí•­IC
1  1    88JC ~ ë¶ë¡œJC   91.727273    188JC ~ ë¶ë¡œJC

In [119]:
ttt2 = ttt2[['id','í‰ê· ì†ë„(km/h)']]
ttt2.rename(columns = {'í‰ê· ì†ë„(km/h)':'ì „ì¼í‰ê· ì†ë„(km/h)'},inplace=True)
ttt2.head(2)

C:\Users\User\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

               id  ì „ì¼í‰ê· ì†ë„(km/h)
0  188JC ~ ê¹€í¬ê³µí•­IC     93.419355
1    188JC ~ ë¶ë¡œJC     90.666667

In [128]:
sss = sss[['id','ì‚¬ê³ íšŸìˆ˜']] # 1887 * 4

In [120]:
ttt.shape

(5162, 4)

In [121]:
ttt2.shape

(5166, 2)

In [122]:
new = pd.merge(left = ttt , right = ttt2, how = "inner", on = "id")

In [124]:
new = new[['ì›”','êµ¬ê°„ëª…','í‰ê· ì†ë„(km/h)','ì „ì¼í‰ê· ì†ë„(km/h)','id']]
new # 5162 * 5

       ì›”              êµ¬ê°„ëª…  í‰ê· ì†ë„(km/h)  ì „ì¼í‰ê· ì†ë„(km/h)                 id
0      1    88JC ~ ê¹€í¬ê³µí•­IC   93.129032     93.419355     188JC ~ ê¹€í¬ê³µí•­IC
1      1      88JC ~ ë¶ë¡œJC   91.727273     90.666667       188JC ~ ë¶ë¡œJC
2      1      ê°ê³¡IC ~ ì—¬ì£¼JC   99.000000     96.612903       1ê°ê³¡IC ~ ì—¬ì£¼JC
3      1      ê°•ì¼IC ~ ìƒì¼IC   67.580645     80.709677       1ê°•ì¼IC ~ ìƒì¼IC
4      1      ê°•ì¼IC ~ í† í‰IC   60.129032     62.129032       1ê°•ì¼IC ~ í† í‰IC
...   ..              ...         ...           ...                ...
5157  12     í™”ì„±íœ´ê²Œì†Œ ~ ë°œì•ˆIC   83.774194     95.000000     12í™”ì„±íœ´ê²Œì†Œ ~ ë°œì•ˆIC
5158  12     í™”ì„±íœ´ê²Œì†Œ ~ ë¹„ë´‰IC   81.161290     86.354839     12í™”ì„±íœ´ê²Œì†Œ ~ ë¹„ë´‰IC
5159  12    í¥ë•IC ~ ê´‘êµìƒí˜„IC   76.129032     82.903226    12í¥ë•IC ~ ê´‘êµìƒí˜„IC
5160  12    í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC   98.580645     99.387097    12í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC
5161  12  í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC   86.483871     90.483871  12í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC

[5162 rows x 5 columns]

ì‚¬ê³  tableì´ë‘ì€ left outer join í•´ì¤Œ

In [157]:
newthing = pd.merge(left = new, right = sss, how = 'left', on = 'id')

In [158]:
newthing

       ì›”              êµ¬ê°„ëª…  í‰ê· ì†ë„(km/h)  ì „ì¼í‰ê· ì†ë„(km/h)                 id  ì‚¬ê³ íšŸìˆ˜
0      1    88JC ~ ê¹€í¬ê³µí•­IC   93.129032     93.419355     188JC ~ ê¹€í¬ê³µí•­IC   NaN
1      1      88JC ~ ë¶ë¡œJC   91.727273     90.666667       188JC ~ ë¶ë¡œJC   NaN
2      1      ê°ê³¡IC ~ ì—¬ì£¼JC   99.000000     96.612903       1ê°ê³¡IC ~ ì—¬ì£¼JC   6.0
3      1      ê°•ì¼IC ~ ìƒì¼IC   67.580645     80.709677       1ê°•ì¼IC ~ ìƒì¼IC   1.0
4      1      ê°•ì¼IC ~ í† í‰IC   60.129032     62.129032       1ê°•ì¼IC ~ í† í‰IC   3.0
...   ..              ...         ...           ...                ...   ...
5157  12     í™”ì„±íœ´ê²Œì†Œ ~ ë°œì•ˆIC   83.774194     95.000000     12í™”ì„±íœ´ê²Œì†Œ ~ ë°œì•ˆIC   NaN
5158  12     í™”ì„±íœ´ê²Œì†Œ ~ ë¹„ë´‰IC   81.161290     86.354839     12í™”ì„±íœ´ê²Œì†Œ ~ ë¹„ë´‰IC   4.0
5159  12    í¥ë•IC ~ ê´‘êµìƒí˜„IC   76.129032     82.903226    12í¥ë•IC ~ ê´‘êµìƒí˜„IC   NaN
5160  12    í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC   98.580645     99.387097    12í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC   1.0
5161  12  í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC   86.483871     90.483871  12í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC   2.0

[5162 rows x 6 columns]

In [159]:
newthing['ì‚¬ê³ íšŸìˆ˜'].isnull().sum()

3343

In [160]:
newthing['ì‚¬ê³ íšŸìˆ˜'].fillna(0,inplace=True)
newthing['ì‚¬ê³ íšŸìˆ˜'].value_counts()

0.0     3343
1.0      739
2.0      407
3.0      244
4.0      130
5.0      102
6.0       63
7.0       39
8.0       32
10.0      15
9.0       14
11.0       8
12.0       5
16.0       4
13.0       4
19.0       3
14.0       2
17.0       2
15.0       1
22.0       1
20.0       1
23.0       1
18.0       1
21.0       1
Name: ì‚¬ê³ íšŸìˆ˜, dtype: int64

In [161]:
# ë ~

In [162]:
newthing.rename(columns = {'í‰ê· ì†ë„(km/h)':'ì£¼ê°„í‰ê· ì†ë„(km/h)'},inplace=True)
#newthing = newthing[['ì›”','êµ¬ê°„ëª…','ì£¼ê°„í‰ê· ì†ë„(km/h)','ì „ì¼í‰ê· ì†ë„(km/h)','ì‚¬ê³ íšŸìˆ˜']]
newthing.tail(3)

       ì›”              êµ¬ê°„ëª…  ì£¼ê°„í‰ê· ì†ë„(km/h)  ì „ì¼í‰ê· ì†ë„(km/h)                 id  ì‚¬ê³ íšŸìˆ˜
5159  12    í¥ë•IC ~ ê´‘êµìƒí˜„IC     76.129032     82.903226    12í¥ë•IC ~ ê´‘êµìƒí˜„IC   0.0
5160  12    í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC     98.580645     99.387097    12í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC   1.0
5161  12  í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC     86.483871     90.483871  12í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC   2.0

In [142]:
newthing.columns

Index(['ì›”', 'êµ¬ê°„ëª…', 'ì£¼ê°„í‰ê· ì†ë„(km/h)', 'ì „ì¼í‰ê· ì†ë„(km/h)', 'ì‚¬ê³ íšŸìˆ˜'], dtype='object')

In [147]:
newthing.to_csv('newthing.csv',index=False)

## ì¢Œí‘œì¶”ê°€

In [163]:
code = df[['ì›”','êµ¬ê°„','ìœ„ë„','ê²½ë„']]

In [164]:
code['ì›”'] = code['ì›”'].astype(int)
code['id'] = code['ì›”'].astype(str) + code['êµ¬ê°„']

<ipython-input-164-493a064ef7db>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code['ì›”'] = code['ì›”'].astype(int)
<ipython-input-164-493a064ef7db>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code['id'] = code['ì›”'].astype(str) + code['êµ¬ê°„']

In [165]:
code = code[['id','ìœ„ë„','ê²½ë„']]
code.rename(columns = {'ìœ„ë„':'ì‚¬ê³ ì§€ì ìœ„ë„','ê²½ë„':'ì‚¬ê³ ì§€ì ê²½ë„'},inplace=True)
code

                   id     ì‚¬ê³ ì§€ì ìœ„ë„      ì‚¬ê³ ì§€ì ê²½ë„
0        1ì„œì´ˆIC ~ ë°˜í¬IC  37.488337  127.024254
1       1ì„œìš¸T/G ~ ì‹ ê°ˆJC  37.363652  127.103154
2        1ì„œì¢…IC ~ ì„¤ì•…IC  37.649214  127.440746
3        1ê°ê³¡IC ~ ì—¬ì£¼JC  37.215920  127.601973
4      1ì£½ì „íœ´ê²Œì†Œ ~ ì„œìš¸T/G  37.357477  127.103418
...               ...        ...         ...
5096  12ë§Œë‚¨ì˜ê´‘ì¥ ~ ë‹¬ë˜ë„¤ê³ ê°œ  37.441819  127.059089
5097   12íŒêµJC ~ ì²­ê³„T/G  37.405980  127.094892
5098    12ë§¤ì†¡IC ~ íŒ”ê³¡JC  37.278386  126.897777
5099    12ì„œìš´JC ~ ì¤‘ë™IC  37.513235  126.749444
5100   12ì•ˆì„±íœ´ê²Œì†Œ ~ ì˜¤ì‚°IC  37.127779  127.096040

[5101 rows x 3 columns]

In [166]:
real_newthing = pd.merge(left = newthing, right = code, how = 'left', on = 'id')

In [169]:
real_newthing['ì‚¬ê³ ì§€ì ìœ„ë„'].fillna(0,inplace=True)
real_newthing['ì‚¬ê³ ì§€ì ê²½ë„'].fillna(0,inplace=True)

In [170]:
real_newthing

,ì›”,êµ¬ê°„ëª…,ì£¼ê°„í‰ê· ì†ë„(km/h),ì „ì¼í‰ê· ì†ë„(km/h),id,ì‚¬ê³ íšŸìˆ˜,ì‚¬ê³ ì§€ì ìœ„ë„,ì‚¬ê³ ì§€ì ê²½ë„
0,1,88JC ~ ê¹€í¬ê³µí•­IC,93.129032,93.419355,188JC ~ ê¹€í¬ê³µí•­IC,0.0,0.000000,0.000000
1,1,88JC ~ ë¶ë¡œJC,91.727273,90.666667,188JC ~ ë¶ë¡œJC,0.0,0.000000,0.000000
2,1,ê°ê³¡IC ~ ì—¬ì£¼JC,99.000000,96.612903,1ê°ê³¡IC ~ ì—¬ì£¼JC,6.0,37.215920,127.601973
3,1,ê°ê³¡IC ~ ì—¬ì£¼JC,99.000000,96.612903,1ê°ê³¡IC ~ ì—¬ì£¼JC,6.0,37.226046,127.592447
4,1,ê°ê³¡IC ~ ì—¬ì£¼JC,99.000000,96.612903,1ê°ê³¡IC ~ ì—¬ì£¼JC,6.0,37.219362,127.596975
...,...,...,...,...,...,...,...,...
8338,12,í™”ì„±íœ´ê²Œì†Œ ~ ë¹„ë´‰IC,81.161290,86.354839,12í™”ì„±íœ´ê²Œì†Œ ~ ë¹„ë´‰IC,4.0,37.238843,126.881435
8339,12,í¥ë•IC ~ ê´‘êµìƒí˜„IC,76.129032,82.903226,12í¥ë•IC ~ ê´‘êµìƒí˜„IC,0.0,0.000000,0.000000
8340,12,í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC,98.580645,99.387097,12í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC,1.0,37.381158,127.552524
8341,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,12í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,2.0,37.377812,127.477180
8342,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,12í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,2.0,37.379723,127.413251

In [171]:
real_newthing = real_newthing.drop(['id'],axis=1)
real_newthing

,ì›”,êµ¬ê°„ëª…,ì£¼ê°„í‰ê· ì†ë„(km/h),ì „ì¼í‰ê· ì†ë„(km/h),ì‚¬ê³ íšŸìˆ˜,ì‚¬ê³ ì§€ì ìœ„ë„,ì‚¬ê³ ì§€ì ê²½ë„
0,1,88JC ~ ê¹€í¬ê³µí•­IC,93.129032,93.419355,0.0,0.000000,0.000000
1,1,88JC ~ ë¶ë¡œJC,91.727273,90.666667,0.0,0.000000,0.000000
2,1,ê°ê³¡IC ~ ì—¬ì£¼JC,99.000000,96.612903,6.0,37.215920,127.601973
3,1,ê°ê³¡IC ~ ì—¬ì£¼JC,99.000000,96.612903,6.0,37.226046,127.592447
4,1,ê°ê³¡IC ~ ì—¬ì£¼JC,99.000000,96.612903,6.0,37.219362,127.596975
...,...,...,...,...,...,...,...
8338,12,í™”ì„±íœ´ê²Œì†Œ ~ ë¹„ë´‰IC,81.161290,86.354839,4.0,37.238843,126.881435
8339,12,í¥ë•IC ~ ê´‘êµìƒí˜„IC,76.129032,82.903226,0.0,0.000000,0.000000
8340,12,í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC,98.580645,99.387097,1.0,37.381158,127.552524
8341,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2.0,37.377812,127.477180
8342,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2.0,37.379723,127.413251

In [172]:
real_newthing.to_csv('real_newthing.csv',index=False)