## 고속도로 출입시설 위치정보

http://data.ex.co.kr/openapi/basicinfo/openApiInfoM?apiId=0122&serviceType=&keyWord=%EA%B3%A0%EC%86%8D%EB%8F%84%EB%A1%9C&searchDayFrom=2014.12.01&searchDayTo=2022.05.26&CATEGORY=&GROUP_TR=

In [1]:
! pip install xmltodict

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.13.0

In [2]:
import json

def parse_re(input_re: str):
    try:
        return_dict = json.loads(input_re)
    except json.decoder.JSONDecodeError:
        return_dict = dict()
    finally:
        return return_dict

In [3]:
import pandas as pd
from pandas.io.json import json_normalize
import requests
import pprint
import json

In [4]:
url = 'http://data.ex.co.kr/openapi/locationinfo/locationinfoIc?key=secret&type=json'
# url 불러오기
response = requests.get(url)

# 데이터 값 출력해보기
contents = response.text

In [5]:
# 문자열을 json으로 변경
#json_ob = json.loads(contents) 
json_ob = parse_re(contents)

# 필요한 부분만 추출
body = json_ob['list']

# 데이터프레임으로 변환
dataframe = pd.DataFrame(body)

In [6]:
dataframe

    routeName routeNo      icCode icName      xValue     yValue
0         경부선    0010  0010I00001   구서IC  129.097620  35.250710
1         경부선    0010  0010I00003   양산IC  129.053314  35.378218
2         경부선    0010  0010I00004  통도사IC  129.097021  35.498747
3         경부선    0010  0010I00005  서울산IC  129.126636  35.553861
4         경부선    0010  0010I00008   경주IC  129.187987  35.806331
..        ...     ...         ...    ...         ...        ...
400     부산외곽선    6000  6000I90010   한림IC  128.811787  35.295885
401     부산외곽선    6000  6000J90003  기장JCT  129.222103  35.282105
402     부산외곽선    6000  6000J90007  대감JCT  128.985138  35.271282
403     부산외곽선    6000  6000J90009  진영JCT  128.721242  35.280259
404     부산외곽선    6000  6000J90011  노포JCT  129.094741  35.291384

[405 rows x 6 columns]

In [ ]:
dataframe.to_csv('xcodeycode.csv',index=False)