<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#🥰" data-toc-modified-id="🥰-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>🥰</a></span><ul class="toc-item"><li><span><a href="#(평균속도)--'구간별---일별'-을-구간별---월별'-로-변환" data-toc-modified-id="(평균속도)--'구간별---일별'-을-구간별---월별'-로-변환-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>(평균속도)  '구간별 - 일별' 을 구간별 - 월별' 로 변환</a></span></li></ul></li><li><span><a href="#월---구간-별로-사고-횟수" data-toc-modified-id="월---구간-별로-사고-횟수-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>월 - 구간 별로 사고 횟수</a></span><ul class="toc-item"><li><span><a href="#월별---구간별-(주간평균속도의-평균,-전일평균속도의-평균,-사고횟수,)-or-사고횟수-말고-사고-지점-merge" data-toc-modified-id="월별---구간별-(주간평균속도의-평균,-전일평균속도의-평균,-사고횟수,)-or-사고횟수-말고-사고-지점-merge-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>월별 - 구간별 (주간평균속도의 평균, 전일평균속도의 평균, 사고횟수,) or 사고횟수 말고 사고 지점 merge</a></span></li><li><span><a href="#id-columns-생성-(key)" data-toc-modified-id="id-columns-생성-(key)-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>id columns 생성 (key)</a></span></li></ul></li><li><span><a href="#좌표추가" data-toc-modified-id="좌표추가-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>좌표추가</a></span></li></ul></div>

## 🥰

In [173]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set()
%matplotlib inline

In [93]:
df = pd.read_excel("01.돌발상황 통계_2021_사고만_이거진짜.xlsx")

In [94]:
df.head(3)

,연도,월,일,돌발유형,돌발상세,도로명,방향,구간,발생차로,통제차로,발생일시,종료일시,심각도,위도,경도,건수,상세내용
0,2021,1,1,사고,차량사고,경부고속도로,서울,서초IC ~ 반포IC,1,1,2021-01-01 12:41:00,2021-01-01 13:01:00,상,37.488337,127.024254,1,사고
1,2021,1,1,사고,차량사고,경부고속도로,부산,서울T/G ~ 신갈JC,"5,6","5,6",2021-01-01 18:17:00,2021-01-01 20:18:00,상,37.363652,127.103154,1,사고
2,2021,1,1,사고,차량사고,서울양양고속도로,동홍천,서종IC ~ 설악IC,1,1,2021-01-01 10:16:00,2021-01-01 11:02:00,상,37.649214,127.440746,1,사고

In [149]:
code = df[['월','구간','위도','경도']]

In [95]:
print(df.shape)

(5101, 17)

In [96]:
df2 = pd.read_excel("01.고속도로_2021_주간_이거진짜.xlsx")

In [97]:
df3 = pd.read_excel("01.고속도로_2021_전일_추가.xlsx")

In [98]:
df2 # 월별로 간소화
    # 일별로 하니..

          연도   월   일       호선명  방향            구간명  평균속도(km/h)
0       2021   1   1    경부고속도로  상행  기흥IC ~ 수원신갈IC          79
1       2021   1   1    경부고속도로  하행  기흥IC ~ 기흥동탄IC          92
2       2021   1   1    경부고속도로  하행    기흥IC ~ 동탄JC          92
3       2021   1   1    경부고속도로  상행  기흥동탄IC ~ 기흥IC          84
4       2021   1   1    경부고속도로  하행  기흥동탄IC ~ 동탄JC          91
...      ...  ..  ..       ...  ..            ...         ...
159489  2021  12  31  서울양양고속도로  하행    서종IC ~ 화도IC          85
159490  2021  12  31  서울양양고속도로  상행    설악IC ~ 강촌IC          88
159491  2021  12  31  서울양양고속도로  하행    설악IC ~ 서종IC          92
159492  2021  12  31  서울양양고속도로  상행    화도IC ~ 서종IC          64
159493  2021  12  31  서울양양고속도로  하행   화도IC ~ 남양주TG          93

[159494 rows x 7 columns]

In [99]:
df3

          연도   월   일       호선명  방향            구간명  평균속도(km/h)
0       2021   1   1    경부고속도로  상행  기흥IC ~ 수원신갈IC          82
1       2021   1   1    경부고속도로  하행  기흥IC ~ 기흥동탄IC          95
2       2021   1   1    경부고속도로  하행    기흥IC ~ 동탄JC          95
3       2021   1   1    경부고속도로  상행  기흥동탄IC ~ 기흥IC          85
4       2021   1   1    경부고속도로  하행  기흥동탄IC ~ 동탄JC          95
...      ...  ..  ..       ...  ..            ...         ...
159489  2021  12  31  서울양양고속도로  하행    서종IC ~ 화도IC          89
159490  2021  12  31  서울양양고속도로  상행    설악IC ~ 강촌IC          88
159491  2021  12  31  서울양양고속도로  하행    설악IC ~ 서종IC          93
159492  2021  12  31  서울양양고속도로  상행    화도IC ~ 서종IC          70
159493  2021  12  31  서울양양고속도로  하행   화도IC ~ 남양주TG          96

[159494 rows x 7 columns]

In [100]:
df2.dtypes

연도             int64
월              int64
일              int64
호선명           object
방향            object
구간명           object
평균속도(km/h)     int64
dtype: object

확인해보니 속도에 0 값이 기입되어 있다. 0으로 입력된 열들은 제거.

In [101]:
df2['평균속도(km/h)'].replace(0,np.nan,inplace=True)
df2.dropna(subset=['평균속도(km/h)'],inplace=True)

print(df2)

          연도   월   일       호선명  방향            구간명  평균속도(km/h)
0       2021   1   1    경부고속도로  상행  기흥IC ~ 수원신갈IC        79.0
1       2021   1   1    경부고속도로  하행  기흥IC ~ 기흥동탄IC        92.0
2       2021   1   1    경부고속도로  하행    기흥IC ~ 동탄JC        92.0
3       2021   1   1    경부고속도로  상행  기흥동탄IC ~ 기흥IC        84.0
4       2021   1   1    경부고속도로  하행  기흥동탄IC ~ 동탄JC        91.0
...      ...  ..  ..       ...  ..            ...         ...
159489  2021  12  31  서울양양고속도로  하행    서종IC ~ 화도IC        85.0
159490  2021  12  31  서울양양고속도로  상행    설악IC ~ 강촌IC        88.0
159491  2021  12  31  서울양양고속도로  하행    설악IC ~ 서종IC        92.0
159492  2021  12  31  서울양양고속도로  상행    화도IC ~ 서종IC        64.0
159493  2021  12  31  서울양양고속도로  하행   화도IC ~ 남양주TG        93.0

[158884 rows x 7 columns]

In [102]:
df2.to_csv('df2.csv',index=False)

### (평균속도)  '구간별 - 일별' 을 구간별 - 월별' 로 변환

구간은 경기도 및 서울 수도권 근방으로 한다

In [103]:
mont = df2.groupby(["월",'구간명']).agg({"평균속도(km/h)":"mean"})
mont # good ~

                    평균속도(km/h)
월  구간명
1  88JC ~ 김포공항IC     93.129032
   88JC ~ 북로JC       91.727273
   감곡IC ~ 여주JC       99.000000
   강일IC ~ 상일IC       67.580645
   강일IC ~ 토평IC       60.129032
...                        ...
12 화성휴게소 ~ 발안IC      83.774194
   화성휴게소 ~ 비봉IC      81.161290
   흥덕IC ~ 광교상현IC     76.129032
   흥천이포IC ~ 대신IC     98.580645
   흥천이포IC ~ 동곤지암IC   86.483871

[5162 rows x 1 columns]

In [104]:
mont.to_excel('mont.xlsx')

In [105]:
ttt = pd.read_excel("mont.xlsx")

In [106]:
ttt = ttt.fillna(method='ffill')
ttt

         월              구간명  평균속도(km/h)
0      1.0    88JC ~ 김포공항IC   93.129032
1      1.0      88JC ~ 북로JC   91.727273
2      1.0      감곡IC ~ 여주JC   99.000000
3      1.0      강일IC ~ 상일IC   67.580645
4      1.0      강일IC ~ 토평IC   60.129032
...    ...              ...         ...
5157  12.0     화성휴게소 ~ 발안IC   83.774194
5158  12.0     화성휴게소 ~ 비봉IC   81.161290
5159  12.0    흥덕IC ~ 광교상현IC   76.129032
5160  12.0    흥천이포IC ~ 대신IC   98.580645
5161  12.0  흥천이포IC ~ 동곤지암IC   86.483871

[5162 rows x 3 columns]

In [107]:
ttt.isnull().sum()

월             0
구간명           0
평균속도(km/h)    0
dtype: int64

In [108]:
ttt.to_csv('ttt.csv',index=False)

In [109]:
ttt['구간명'].value_counts()

동탄JC ~ 기흥IC        12
금곡IC ~ 동안산당수       12
동탄JC ~ 기흥동탄IC      12
서여주(휴) ~ 서여주IC     12
신갈JC ~ 수원신갈IC      12
                   ..
선단IC ~ 포천IC        12
하남IC ~ 하남JC        12
안산IC ~ 서안산IC       12
신둔하이패스IC ~ 산곡JC     1
산곡JC ~ 마장JC         1
Name: 구간명, Length: 432, dtype: int64

In [110]:
ttt['평균속도(km/h)'].describe()

count    5162.000000
mean       81.153065
std        14.367916
min        14.333333
25%        73.702419
50%        83.951075
75%        91.739785
max       110.000000
Name: 평균속도(km/h), dtype: float64

In [111]:
#### 전일평균속도의 평균도 동일하게 진행
df3['평균속도(km/h)'].replace(0,np.nan,inplace=True)
df3.dropna(subset=['평균속도(km/h)'],inplace=True)
mont = df3.groupby(["월",'구간명']).agg({"평균속도(km/h)":"mean"})
mont

mont.to_excel('mont2.xlsx')
ttt2 = pd.read_excel("mont2.xlsx")
ttt2 = ttt2.fillna(method='ffill')
ttt2

         월              구간명  평균속도(km/h)
0      1.0    88JC ~ 김포공항IC   93.419355
1      1.0      88JC ~ 북로JC   90.666667
2      1.0      감곡IC ~ 여주JC   96.612903
3      1.0      강일IC ~ 상일IC   80.709677
4      1.0      강일IC ~ 토평IC   62.129032
...    ...              ...         ...
5161  12.0     화성휴게소 ~ 발안IC   95.000000
5162  12.0     화성휴게소 ~ 비봉IC   86.354839
5163  12.0    흥덕IC ~ 광교상현IC   82.903226
5164  12.0    흥천이포IC ~ 대신IC   99.387097
5165  12.0  흥천이포IC ~ 동곤지암IC   90.483871

[5166 rows x 3 columns]

In [112]:
ttt2['평균속도(km/h)'].describe()

count    5166.000000
mean       85.909114
std        10.886397
min        19.000000
25%        80.193548
50%        88.133333
75%        93.887385
max       110.000000
Name: 평균속도(km/h), dtype: float64

## 월 - 구간 별로 사고 횟수

In [113]:
Accid = df.groupby(["월",'구간']).agg({"구간":"count"})
Accid

Accid.to_excel('Accid3.xlsx')
sss = pd.read_excel("Accid3.xlsx")
sss = sss.fillna(method='ffill')

sss.rename(columns = {'구간':'구간명','구간.1':'사고횟수'},inplace=True)
sss

         월              구간명  사고횟수
0      1.0      감곡IC ~ 여주JC     6
1      1.0      강일IC ~ 상일IC     1
2      1.0      강일IC ~ 토평IC     3
3      1.0    경기광주JC ~ 마장JC     2
4      1.0     계양IC ~ 노오지JC     5
...    ...              ...   ...
1882  12.0      화도IC ~ 서종IC     1
1883  12.0     화성휴게소 ~ 비봉IC     4
1884  12.0     화성휴게소 ~ 팔탄JC     3
1885  12.0    흥천이포IC ~ 대신IC     1
1886  12.0  흥천이포IC ~ 동곤지암IC     2

[1887 rows x 3 columns]

In [114]:
sss.to_csv('sss.csv',index=False)

In [115]:
sss['사고횟수'].value_counts()

1     789
2     414
3     251
4     134
5     102
6      63
7      39
8      32
10     15
9      14
11      8
12      5
13      4
16      4
19      3
14      2
17      2
15      1
18      1
20      1
21      1
22      1
23      1
Name: 사고횟수, dtype: int64

3월	안성휴게소 ~ 오산IC	23 ?!

### 월별 - 구간별 (주간평균속도의 평균, 전일평균속도의 평균, 사고횟수,) or 사고횟수 말고 사고 지점 merge

In [55]:
ttt.dtypes

월             float64
구간명            object
평균속도(km/h)    float64
dtype: object

In [56]:
ttt2.dtypes

월             float64
구간명            object
평균속도(km/h)    float64
dtype: object

In [57]:
sss.dtypes

월       float64
구간명      object
사고횟수      int64
dtype: object

### id columns 생성 (key)

In [116]:
ttt['월'] = ttt['월'].astype(int)
ttt2['월'] = ttt2['월'].astype(int)
sss['월'] = sss['월'].astype(int)

In [117]:
ttt['id'] = ttt['월'].astype(str) + ttt['구간명']
ttt2['id'] = ttt2['월'].astype(str) + ttt2['구간명']
sss['id'] = sss['월'].astype(str) + sss['구간명']

In [118]:
ttt.head(2)

   월            구간명  평균속도(km/h)              id
0  1  88JC ~ 김포공항IC   93.129032  188JC ~ 김포공항IC
1  1    88JC ~ 북로JC   91.727273    188JC ~ 북로JC

In [119]:
ttt2 = ttt2[['id','평균속도(km/h)']]
ttt2.rename(columns = {'평균속도(km/h)':'전일평균속도(km/h)'},inplace=True)
ttt2.head(2)

C:\Users\User\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

               id  전일평균속도(km/h)
0  188JC ~ 김포공항IC     93.419355
1    188JC ~ 북로JC     90.666667

In [128]:
sss = sss[['id','사고횟수']] # 1887 * 4

In [120]:
ttt.shape

(5162, 4)

In [121]:
ttt2.shape

(5166, 2)

In [122]:
new = pd.merge(left = ttt , right = ttt2, how = "inner", on = "id")

In [124]:
new = new[['월','구간명','평균속도(km/h)','전일평균속도(km/h)','id']]
new # 5162 * 5

       월              구간명  평균속도(km/h)  전일평균속도(km/h)                 id
0      1    88JC ~ 김포공항IC   93.129032     93.419355     188JC ~ 김포공항IC
1      1      88JC ~ 북로JC   91.727273     90.666667       188JC ~ 북로JC
2      1      감곡IC ~ 여주JC   99.000000     96.612903       1감곡IC ~ 여주JC
3      1      강일IC ~ 상일IC   67.580645     80.709677       1강일IC ~ 상일IC
4      1      강일IC ~ 토평IC   60.129032     62.129032       1강일IC ~ 토평IC
...   ..              ...         ...           ...                ...
5157  12     화성휴게소 ~ 발안IC   83.774194     95.000000     12화성휴게소 ~ 발안IC
5158  12     화성휴게소 ~ 비봉IC   81.161290     86.354839     12화성휴게소 ~ 비봉IC
5159  12    흥덕IC ~ 광교상현IC   76.129032     82.903226    12흥덕IC ~ 광교상현IC
5160  12    흥천이포IC ~ 대신IC   98.580645     99.387097    12흥천이포IC ~ 대신IC
5161  12  흥천이포IC ~ 동곤지암IC   86.483871     90.483871  12흥천이포IC ~ 동곤지암IC

[5162 rows x 5 columns]

사고 table이랑은 left outer join 해줌

In [157]:
newthing = pd.merge(left = new, right = sss, how = 'left', on = 'id')

In [158]:
newthing

       월              구간명  평균속도(km/h)  전일평균속도(km/h)                 id  사고횟수
0      1    88JC ~ 김포공항IC   93.129032     93.419355     188JC ~ 김포공항IC   NaN
1      1      88JC ~ 북로JC   91.727273     90.666667       188JC ~ 북로JC   NaN
2      1      감곡IC ~ 여주JC   99.000000     96.612903       1감곡IC ~ 여주JC   6.0
3      1      강일IC ~ 상일IC   67.580645     80.709677       1강일IC ~ 상일IC   1.0
4      1      강일IC ~ 토평IC   60.129032     62.129032       1강일IC ~ 토평IC   3.0
...   ..              ...         ...           ...                ...   ...
5157  12     화성휴게소 ~ 발안IC   83.774194     95.000000     12화성휴게소 ~ 발안IC   NaN
5158  12     화성휴게소 ~ 비봉IC   81.161290     86.354839     12화성휴게소 ~ 비봉IC   4.0
5159  12    흥덕IC ~ 광교상현IC   76.129032     82.903226    12흥덕IC ~ 광교상현IC   NaN
5160  12    흥천이포IC ~ 대신IC   98.580645     99.387097    12흥천이포IC ~ 대신IC   1.0
5161  12  흥천이포IC ~ 동곤지암IC   86.483871     90.483871  12흥천이포IC ~ 동곤지암IC   2.0

[5162 rows x 6 columns]

In [159]:
newthing['사고횟수'].isnull().sum()

3343

In [160]:
newthing['사고횟수'].fillna(0,inplace=True)
newthing['사고횟수'].value_counts()

0.0     3343
1.0      739
2.0      407
3.0      244
4.0      130
5.0      102
6.0       63
7.0       39
8.0       32
10.0      15
9.0       14
11.0       8
12.0       5
16.0       4
13.0       4
19.0       3
14.0       2
17.0       2
15.0       1
22.0       1
20.0       1
23.0       1
18.0       1
21.0       1
Name: 사고횟수, dtype: int64

In [161]:
# 끝 ~

In [162]:
newthing.rename(columns = {'평균속도(km/h)':'주간평균속도(km/h)'},inplace=True)
#newthing = newthing[['월','구간명','주간평균속도(km/h)','전일평균속도(km/h)','사고횟수']]
newthing.tail(3)

       월              구간명  주간평균속도(km/h)  전일평균속도(km/h)                 id  사고횟수
5159  12    흥덕IC ~ 광교상현IC     76.129032     82.903226    12흥덕IC ~ 광교상현IC   0.0
5160  12    흥천이포IC ~ 대신IC     98.580645     99.387097    12흥천이포IC ~ 대신IC   1.0
5161  12  흥천이포IC ~ 동곤지암IC     86.483871     90.483871  12흥천이포IC ~ 동곤지암IC   2.0

In [142]:
newthing.columns

Index(['월', '구간명', '주간평균속도(km/h)', '전일평균속도(km/h)', '사고횟수'], dtype='object')

In [147]:
newthing.to_csv('newthing.csv',index=False)

## 좌표추가

In [163]:
code = df[['월','구간','위도','경도']]

In [164]:
code['월'] = code['월'].astype(int)
code['id'] = code['월'].astype(str) + code['구간']

<ipython-input-164-493a064ef7db>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code['월'] = code['월'].astype(int)
<ipython-input-164-493a064ef7db>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code['id'] = code['월'].astype(str) + code['구간']

In [165]:
code = code[['id','위도','경도']]
code.rename(columns = {'위도':'사고지점위도','경도':'사고지점경도'},inplace=True)
code

                   id     사고지점위도      사고지점경도
0        1서초IC ~ 반포IC  37.488337  127.024254
1       1서울T/G ~ 신갈JC  37.363652  127.103154
2        1서종IC ~ 설악IC  37.649214  127.440746
3        1감곡IC ~ 여주JC  37.215920  127.601973
4      1죽전휴게소 ~ 서울T/G  37.357477  127.103418
...               ...        ...         ...
5096  12만남의광장 ~ 달래네고개  37.441819  127.059089
5097   12판교JC ~ 청계T/G  37.405980  127.094892
5098    12매송IC ~ 팔곡JC  37.278386  126.897777
5099    12서운JC ~ 중동IC  37.513235  126.749444
5100   12안성휴게소 ~ 오산IC  37.127779  127.096040

[5101 rows x 3 columns]

In [166]:
real_newthing = pd.merge(left = newthing, right = code, how = 'left', on = 'id')

In [169]:
real_newthing['사고지점위도'].fillna(0,inplace=True)
real_newthing['사고지점경도'].fillna(0,inplace=True)

In [170]:
real_newthing

,월,구간명,주간평균속도(km/h),전일평균속도(km/h),id,사고횟수,사고지점위도,사고지점경도
0,1,88JC ~ 김포공항IC,93.129032,93.419355,188JC ~ 김포공항IC,0.0,0.000000,0.000000
1,1,88JC ~ 북로JC,91.727273,90.666667,188JC ~ 북로JC,0.0,0.000000,0.000000
2,1,감곡IC ~ 여주JC,99.000000,96.612903,1감곡IC ~ 여주JC,6.0,37.215920,127.601973
3,1,감곡IC ~ 여주JC,99.000000,96.612903,1감곡IC ~ 여주JC,6.0,37.226046,127.592447
4,1,감곡IC ~ 여주JC,99.000000,96.612903,1감곡IC ~ 여주JC,6.0,37.219362,127.596975
...,...,...,...,...,...,...,...,...
8338,12,화성휴게소 ~ 비봉IC,81.161290,86.354839,12화성휴게소 ~ 비봉IC,4.0,37.238843,126.881435
8339,12,흥덕IC ~ 광교상현IC,76.129032,82.903226,12흥덕IC ~ 광교상현IC,0.0,0.000000,0.000000
8340,12,흥천이포IC ~ 대신IC,98.580645,99.387097,12흥천이포IC ~ 대신IC,1.0,37.381158,127.552524
8341,12,흥천이포IC ~ 동곤지암IC,86.483871,90.483871,12흥천이포IC ~ 동곤지암IC,2.0,37.377812,127.477180
8342,12,흥천이포IC ~ 동곤지암IC,86.483871,90.483871,12흥천이포IC ~ 동곤지암IC,2.0,37.379723,127.413251

In [171]:
real_newthing = real_newthing.drop(['id'],axis=1)
real_newthing

,월,구간명,주간평균속도(km/h),전일평균속도(km/h),사고횟수,사고지점위도,사고지점경도
0,1,88JC ~ 김포공항IC,93.129032,93.419355,0.0,0.000000,0.000000
1,1,88JC ~ 북로JC,91.727273,90.666667,0.0,0.000000,0.000000
2,1,감곡IC ~ 여주JC,99.000000,96.612903,6.0,37.215920,127.601973
3,1,감곡IC ~ 여주JC,99.000000,96.612903,6.0,37.226046,127.592447
4,1,감곡IC ~ 여주JC,99.000000,96.612903,6.0,37.219362,127.596975
...,...,...,...,...,...,...,...
8338,12,화성휴게소 ~ 비봉IC,81.161290,86.354839,4.0,37.238843,126.881435
8339,12,흥덕IC ~ 광교상현IC,76.129032,82.903226,0.0,0.000000,0.000000
8340,12,흥천이포IC ~ 대신IC,98.580645,99.387097,1.0,37.381158,127.552524
8341,12,흥천이포IC ~ 동곤지암IC,86.483871,90.483871,2.0,37.377812,127.477180
8342,12,흥천이포IC ~ 동곤지암IC,86.483871,90.483871,2.0,37.379723,127.413251

In [172]:
real_newthing.to_csv('real_newthing.csv',index=False)