<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#ë”°ë¡œ-êµ¬ë¶„-ì•ˆì§€ìŒ" data-toc-modified-id="ë”°ë¡œ-êµ¬ë¶„-ì•ˆì§€ìŒ-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>ë”°ë¡œ êµ¬ë¶„ ì•ˆì§€ìŒ</a></span></li><li><span><a href="#ğŸ¤ " data-toc-modified-id="ğŸ¤ -2"><span class="toc-item-num">2&nbsp;&nbsp;</span>ğŸ¤ </a></span></li><li><span><a href="#stnEnd,-stnEnd2-axis-=1" data-toc-modified-id="stnEnd,-stnEnd2-axis-=1-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>stnEnd, stnEnd2 axis =1</a></span></li><li><span><a href="#ğŸ˜ºğŸ˜ºğŸ˜º" data-toc-modified-id="ğŸ˜ºğŸ˜ºğŸ˜º-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>ğŸ˜ºğŸ˜ºğŸ˜º</a></span></li><li><span><a href="#df-í…Œì´ë¸”ì—-êµ¬ê°„ë³„-ì¶œë°œì¢Œí‘œ,-ë„ì°©ì¢Œí‘œ-colum-ì¶”ê°€!-ğŸ˜º" data-toc-modified-id="df-í…Œì´ë¸”ì—-êµ¬ê°„ë³„-ì¶œë°œì¢Œí‘œ,-ë„ì°©ì¢Œí‘œ-colum-ì¶”ê°€!-ğŸ˜º-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>df í…Œì´ë¸”ì— êµ¬ê°„ë³„ ì¶œë°œì¢Œí‘œ, ë„ì°©ì¢Œí‘œ colum ì¶”ê°€! ğŸ˜º</a></span></li><li><span><a href="#str" data-toc-modified-id="str-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>str</a></span></li></ul></div>

In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set()
%matplotlib inline

In [86]:
df = pd.read_excel("real_newthing.xlsx")

In [87]:
df2 = pd.read_csv("stnEnd.csv")
df3 = pd.read_csv("stnEnd2.csv")

ì €ë²ˆ ì „ì²˜ë¦¬ì—ì„œ ë‚˜ì˜¤ì§€ ì•Šì•˜ë˜ ë™ì„œìš¸ë§Œë‚¨íœ´ê²Œì†Œ, ì„œì—¬ì£¼(íœ´), ê³ ì†ë„ë¡œì¢…ì ê³¼ <br/>
ë‹¤ë¥¸ íœ´ê²Œì†Œë“¤ë„ ìƒí–‰, í•˜í–‰ ë”°ë¡œ

## ë”°ë¡œ êµ¬ë¶„ ì•ˆì§€ìŒ

In [ ]:
## ë™ì„œìš¸ë§Œë‚¨íœ´ê²Œì†Œ = í•˜ë‚¨ë“œë¦¼íœ´ê²Œì†Œ
## ìƒí–‰ ì„œì—¬ì£¼(íœ´) = ì„œì—¬ì£¼íœ´ê²Œì†Œ(ì–‘í‰ë°©í–¥)
## í•˜í–‰ ì„œì—¬ì£¼(íœ´) = ì„œì—¬ì£¼íœ´ê²Œì†Œ(ì°½ì›ë°©í–¥)
## ê³ ì†ë„ë¡œì¢…ì  126.6175520764955, 37.43830063737166

In [164]:
a = """('127.2058613940864', '37.53045359533605')"""
b = """('127.5805530629789', '37.27872568138395')"""
c = """('126.6175520764955', '37.43830063737166')"""

In [165]:
êµ¬ê°„ëª… = ['ë™ì„œìš¸ë§Œë‚¨íœ´ê²Œì†Œ','ì„œì—¬ì£¼(íœ´)','ê³ ì†ë„ë¡œì¢…ì ']
code= [a,b,c]
#Xcode,Ycode_x
#Xcode,Ycode_y = [('127.2058613940864','37.53045359533605'),('127.5805530629789','37.27872568138395'),('126.6175520764955','37.43830063737166')]

In [166]:
code

["('127.2058613940864', '37.53045359533605')",
 "('127.5805530629789', '37.27872568138395')",
 "('126.6175520764955', '37.43830063737166')"]

In [167]:
t1 = pd.DataFrame(data=code)

In [168]:
t2 = pd.DataFrame(data=êµ¬ê°„ëª…)
t2 = t2.rename(columns={0:'name'})

In [169]:
t2

       name
0  ë™ì„œìš¸ë§Œë‚¨íœ´ê²Œì†Œ
1    ì„œì—¬ì£¼(íœ´)
2    ê³ ì†ë„ë¡œì¢…ì

In [170]:
NT = pd.concat([t1,t2],axis=1) # axis=1 ì˜†ìœ¼ë¡œ ì´ì–´ë¶™ì„
NT = NT.rename(columns={0:'Xcode,Ycode'})
NT

                                  Xcode,Ycode      name
0  ('127.2058613940864', '37.53045359533605')  ë™ì„œìš¸ë§Œë‚¨íœ´ê²Œì†Œ
1  ('127.5805530629789', '37.27872568138395')    ì„œì—¬ì£¼(íœ´)
2  ('126.6175520764955', '37.43830063737166')    ê³ ì†ë„ë¡œì¢…ì

In [41]:
df # ì›” -> êµ¬ê°„ëª… ì •ë ¬

,ì›”,êµ¬ê°„ëª…,ì£¼ê°„í‰ê· ì†ë„(km/h),ì „ì¼í‰ê· ì†ë„(km/h),ì‚¬ê³ íšŸìˆ˜,ì‚¬ê³ ì§€ì ìœ„ë„,ì‚¬ê³ ì§€ì ê²½ë„
0,1,88JC ~ ê¹€í¬ê³µí•­IC,93.129032,93.419355,0,0.000000,0.000000
1,1,88JC ~ ë¶ë¡œJC,91.727273,90.666667,0,0.000000,0.000000
2,1,ê°ê³¡IC ~ ì—¬ì£¼JC,99.000000,96.612903,6,37.215920,127.601973
3,1,ê°ê³¡IC ~ ì—¬ì£¼JC,99.000000,96.612903,6,37.226046,127.592447
4,1,ê°ê³¡IC ~ ì—¬ì£¼JC,99.000000,96.612903,6,37.219362,127.596975
...,...,...,...,...,...,...,...
8338,12,í™”ì„±íœ´ê²Œì†Œ ~ ë¹„ë´‰IC,81.161290,86.354839,4,37.238843,126.881435
8339,12,í¥ë•IC ~ ê´‘êµìƒí˜„IC,76.129032,82.903226,0,0.000000,0.000000
8340,12,í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC,98.580645,99.387097,1,37.381158,127.552524
8341,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2,37.377812,127.477180
8342,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2,37.379723,127.413251

## ğŸ¤

In [76]:
df.sort_values(by=['êµ¬ê°„ëª…']) # êµ¬ê°„ëª… ë³„ ì •ë ¬

,ì›”,êµ¬ê°„ëª…,ì£¼ê°„í‰ê· ì†ë„(km/h),ì „ì¼í‰ê· ì†ë„(km/h),ì‚¬ê³ íšŸìˆ˜,ì‚¬ê³ ì§€ì ìœ„ë„,ì‚¬ê³ ì§€ì ê²½ë„
0,1,88JC ~ ê¹€í¬ê³µí•­IC,93.129032,93.419355,0,0.000000,0.000000
2038,4,88JC ~ ê¹€í¬ê³µí•­IC,95.666667,95.433333,0,0.000000,0.000000
2746,5,88JC ~ ê¹€í¬ê³µí•­IC,94.838710,94.935484,0,0.000000,0.000000
3474,6,88JC ~ ê¹€í¬ê³µí•­IC,95.700000,95.866667,0,0.000000,0.000000
4219,7,88JC ~ ê¹€í¬ê³µí•­IC,95.354839,95.161290,0,0.000000,0.000000
...,...,...,...,...,...,...,...
2745,4,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,85.233333,86.033333,0,0.000000,0.000000
2037,3,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,88.935484,91.612903,0,0.000000,0.000000
1359,2,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,85.777778,87.500000,0,0.000000,0.000000
4218,6,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,83.333333,84.400000,0,0.000000,0.000000
8342,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2,37.379723,127.413251

## stnEnd, stnEnd2 axis =1

In [158]:
df2

     Unnamed: 0                               Xcode,Ycode    name
0             0  ('126.820343344967', '37.5840623931627')    88JC
1             1  ('127.670103878549', '37.1245612761955')    ê°ê³¡IC
2             2  ('127.165506102561', '37.5729828463899')    ê°•ì¼IC
3             3  ('127.624573514836', '37.7346229537189')    ê°•ì´ŒIC
4             4  ('126.618394195987', '37.6006109294591')  ê²€ë‹¨ì–‘ì´ŒIC
..          ...                                       ...     ...
204         204  ('127.427164981905', '37.2350583920676')    í˜¸ë²•JC
205         205  ('127.311299808984', '37.6318075886669')    í™”ë„IC
206         206   ('126.87914101492', '37.1435857940843')   í™”ì„±íœ´ê²Œì†Œ
207         207  ('127.079345318541', '37.2786918516755')    í¥ë•IC
208         208  ('127.515792793563', '37.3784480059131')  í¥ì²œì´í¬IC

[209 rows x 3 columns]

In [182]:
df5 = pd.concat([df2,df3,NT])
df5
df5 = df5.drop(labels='Unnamed: 0',axis=1)
df5 = df5.reset_index(drop=True)

df5 = df5.rename(columns={'name':'str'})
df5

                                    Xcode,Ycode       str
0      ('126.820343344967', '37.5840623931627')      88JC
1      ('127.670103878549', '37.1245612761955')      ê°ê³¡IC
2      ('127.165506102561', '37.5729828463899')      ê°•ì¼IC
3      ('127.624573514836', '37.7346229537189')      ê°•ì´ŒIC
4      ('126.618394195987', '37.6006109294591')    ê²€ë‹¨ì–‘ì´ŒIC
..                                          ...       ...
416     ('127.217046957023', '37.914081203383')      ì‹ ë¶IC
417    ('127.016056291369', '37.5097538823881')      ì ì›IC
418  ('127.2058613940864', '37.53045359533605')  ë™ì„œìš¸ë§Œë‚¨íœ´ê²Œì†Œ
419  ('127.5805530629789', '37.27872568138395')    ì„œì—¬ì£¼(íœ´)
420  ('126.6175520764955', '37.43830063737166')    ê³ ì†ë„ë¡œì¢…ì

[421 rows x 2 columns]

ì—†ì—ˆë˜ ë™ì„œìš¸ë§Œë‚¨íœ´ê²Œì†Œ, ì„œì—¬ì£¼(íœ´), ê³ ì†ë„ë¡œì¢…ì ë„ ì´ì–´ë¶™ì˜€ë‹¤!

## ğŸ˜ºğŸ˜ºğŸ˜º

In [92]:
df5.dtypes

Xcode,Ycode    object
str            object
dtype: object

df5 = df5[~df5['str'].str.contains('íœ´ê²Œì†Œ')]
df5 = df5.reset_index(drop=True)
df5

## df í…Œì´ë¸”ì— êµ¬ê°„ë³„ ì¶œë°œì¢Œí‘œ, ë„ì°©ì¢Œí‘œ colum ì¶”ê°€! ğŸ˜º

In [172]:
df.head(3)

   ì›”            êµ¬ê°„ëª…  ì£¼ê°„í‰ê· ì†ë„(km/h)  ì „ì¼í‰ê· ì†ë„(km/h)  ì‚¬ê³ íšŸìˆ˜    ì‚¬ê³ ì§€ì ìœ„ë„      ì‚¬ê³ ì§€ì ê²½ë„
0  1  88JC ~ ê¹€í¬ê³µí•­IC     93.129032     93.419355     0   0.00000    0.000000
1  1    88JC ~ ë¶ë¡œJC     91.727273     90.666667     0   0.00000    0.000000
2  1    ê°ê³¡IC ~ ì—¬ì£¼JC     99.000000     96.612903     6  37.21592  127.601973

In [180]:
df['str'] = df.êµ¬ê°„ëª….str.split(' ~ ').str[0]
df['end'] = df.êµ¬ê°„ëª….str.split(' ~ ').str[1]
df

,ì›”,êµ¬ê°„ëª…,ì£¼ê°„í‰ê· ì†ë„(km/h),ì „ì¼í‰ê· ì†ë„(km/h),ì‚¬ê³ íšŸìˆ˜,ì‚¬ê³ ì§€ì ìœ„ë„,ì‚¬ê³ ì§€ì ê²½ë„,str,end
0,1,88JC ~ ê¹€í¬ê³µí•­IC,93.129032,93.419355,0,0.000000,0.000000,88JC,ê¹€í¬ê³µí•­IC
1,1,88JC ~ ë¶ë¡œJC,91.727273,90.666667,0,0.000000,0.000000,88JC,ë¶ë¡œJC
2,1,ê°ê³¡IC ~ ì—¬ì£¼JC,99.000000,96.612903,6,37.215920,127.601973,ê°ê³¡IC,ì—¬ì£¼JC
3,1,ê°ê³¡IC ~ ì—¬ì£¼JC,99.000000,96.612903,6,37.226046,127.592447,ê°ê³¡IC,ì—¬ì£¼JC
4,1,ê°ê³¡IC ~ ì—¬ì£¼JC,99.000000,96.612903,6,37.219362,127.596975,ê°ê³¡IC,ì—¬ì£¼JC
...,...,...,...,...,...,...,...,...,...
8338,12,í™”ì„±íœ´ê²Œì†Œ ~ ë¹„ë´‰IC,81.161290,86.354839,4,37.238843,126.881435,í™”ì„±íœ´ê²Œì†Œ,ë¹„ë´‰IC
8339,12,í¥ë•IC ~ ê´‘êµìƒí˜„IC,76.129032,82.903226,0,0.000000,0.000000,í¥ë•IC,ê´‘êµìƒí˜„IC
8340,12,í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC,98.580645,99.387097,1,37.381158,127.552524,í¥ì²œì´í¬IC,ëŒ€ì‹ IC
8341,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2,37.377812,127.477180,í¥ì²œì´í¬IC,ë™ê³¤ì§€ì•”IC
8342,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2,37.379723,127.413251,í¥ì²œì´í¬IC,ë™ê³¤ì§€ì•”IC

## str

In [183]:
result = pd.merge(left=df,right=df5,how='left',on='str')
result

,ì›”,êµ¬ê°„ëª…,ì£¼ê°„í‰ê· ì†ë„(km/h),ì „ì¼í‰ê· ì†ë„(km/h),ì‚¬ê³ íšŸìˆ˜,ì‚¬ê³ ì§€ì ìœ„ë„,ì‚¬ê³ ì§€ì ê²½ë„,str,end,"Xcode,Ycode"
0,1,88JC ~ ê¹€í¬ê³µí•­IC,93.129032,93.419355,0,0.000000,0.000000,88JC,ê¹€í¬ê³µí•­IC,"('126.820343344967', '37.5840623931627')"
1,1,88JC ~ ê¹€í¬ê³µí•­IC,93.129032,93.419355,0,0.000000,0.000000,88JC,ê¹€í¬ê³µí•­IC,"('126.820343344967', '37.5840623931627')"
2,1,88JC ~ ë¶ë¡œJC,91.727273,90.666667,0,0.000000,0.000000,88JC,ë¶ë¡œJC,"('126.820343344967', '37.5840623931627')"
3,1,88JC ~ ë¶ë¡œJC,91.727273,90.666667,0,0.000000,0.000000,88JC,ë¶ë¡œJC,"('126.820343344967', '37.5840623931627')"
4,1,ê°ê³¡IC ~ ì—¬ì£¼JC,99.000000,96.612903,6,37.215920,127.601973,ê°ê³¡IC,ì—¬ì£¼JC,"('127.670103878549', '37.1245612761955')"
...,...,...,...,...,...,...,...,...,...,...
16633,12,í¥ì²œì´í¬IC ~ ëŒ€ì‹ IC,98.580645,99.387097,1,37.381158,127.552524,í¥ì²œì´í¬IC,ëŒ€ì‹ IC,"('127.515792793563', '37.3784480059131')"
16634,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2,37.377812,127.477180,í¥ì²œì´í¬IC,ë™ê³¤ì§€ì•”IC,"('127.515792793563', '37.3784480059131')"
16635,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2,37.377812,127.477180,í¥ì²œì´í¬IC,ë™ê³¤ì§€ì•”IC,"('127.515792793563', '37.3784480059131')"
16636,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2,37.379723,127.413251,í¥ì²œì´í¬IC,ë™ê³¤ì§€ì•”IC,"('127.515792793563', '37.3784480059131')"
16637,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2,37.379723,127.413251,í¥ì²œì´í¬IC,ë™ê³¤ì§€ì•”IC,"('127.515792793563', '37.3784480059131')"

In [184]:
df5 = df5.rename(columns={'str':'end'})
df5

                                    Xcode,Ycode       end
0      ('126.820343344967', '37.5840623931627')      88JC
1      ('127.670103878549', '37.1245612761955')      ê°ê³¡IC
2      ('127.165506102561', '37.5729828463899')      ê°•ì¼IC
3      ('127.624573514836', '37.7346229537189')      ê°•ì´ŒIC
4      ('126.618394195987', '37.6006109294591')    ê²€ë‹¨ì–‘ì´ŒIC
..                                          ...       ...
416     ('127.217046957023', '37.914081203383')      ì‹ ë¶IC
417    ('127.016056291369', '37.5097538823881')      ì ì›IC
418  ('127.2058613940864', '37.53045359533605')  ë™ì„œìš¸ë§Œë‚¨íœ´ê²Œì†Œ
419  ('127.5805530629789', '37.27872568138395')    ì„œì—¬ì£¼(íœ´)
420  ('126.6175520764955', '37.43830063737166')    ê³ ì†ë„ë¡œì¢…ì

[421 rows x 2 columns]

In [185]:
result2 = pd.merge(left=result,right=df5,how='left',on='end')
result2

,ì›”,êµ¬ê°„ëª…,ì£¼ê°„í‰ê· ì†ë„(km/h),ì „ì¼í‰ê· ì†ë„(km/h),ì‚¬ê³ íšŸìˆ˜,ì‚¬ê³ ì§€ì ìœ„ë„,ì‚¬ê³ ì§€ì ê²½ë„,str,end,"Xcode,Ycode_x","Xcode,Ycode_y"
0,1,88JC ~ ê¹€í¬ê³µí•­IC,93.129032,93.419355,0,0.000000,0.000000,88JC,ê¹€í¬ê³µí•­IC,"('126.820343344967', '37.5840623931627')","('126.791097867713', '37.583844872726')"
1,1,88JC ~ ê¹€í¬ê³µí•­IC,93.129032,93.419355,0,0.000000,0.000000,88JC,ê¹€í¬ê³µí•­IC,"('126.820343344967', '37.5840623931627')","('126.791097867713', '37.583844872726')"
2,1,88JC ~ ê¹€í¬ê³µí•­IC,93.129032,93.419355,0,0.000000,0.000000,88JC,ê¹€í¬ê³µí•­IC,"('126.820343344967', '37.5840623931627')","('126.791097867713', '37.583844872726')"
3,1,88JC ~ ê¹€í¬ê³µí•­IC,93.129032,93.419355,0,0.000000,0.000000,88JC,ê¹€í¬ê³µí•­IC,"('126.820343344967', '37.5840623931627')","('126.791097867713', '37.583844872726')"
4,1,88JC ~ ë¶ë¡œJC,91.727273,90.666667,0,0.000000,0.000000,88JC,ë¶ë¡œJC,"('126.820343344967', '37.5840623931627')","('126.833256331126', '37.5954482478014')"
...,...,...,...,...,...,...,...,...,...,...,...
33175,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2,37.377812,127.477180,í¥ì²œì´í¬IC,ë™ê³¤ì§€ì•”IC,"('127.515792793563', '37.3784480059131')","('127.400659883125', '37.3808979664337')"
33176,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2,37.379723,127.413251,í¥ì²œì´í¬IC,ë™ê³¤ì§€ì•”IC,"('127.515792793563', '37.3784480059131')","('127.400659883125', '37.3808979664337')"
33177,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2,37.379723,127.413251,í¥ì²œì´í¬IC,ë™ê³¤ì§€ì•”IC,"('127.515792793563', '37.3784480059131')","('127.400659883125', '37.3808979664337')"
33178,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2,37.379723,127.413251,í¥ì²œì´í¬IC,ë™ê³¤ì§€ì•”IC,"('127.515792793563', '37.3784480059131')","('127.400659883125', '37.3808979664337')"
33179,12,í¥ì²œì´í¬IC ~ ë™ê³¤ì§€ì•”IC,86.483871,90.483871,2,37.379723,127.413251,í¥ì²œì´í¬IC,ë™ê³¤ì§€ì•”IC,"('127.515792793563', '37.3784480059131')","('127.400659883125', '37.3808979664337')"

In [186]:
result2.isnull().sum()

ì›”                0
êµ¬ê°„ëª…              0
ì£¼ê°„í‰ê· ì†ë„(km/h)     0
ì „ì¼í‰ê· ì†ë„(km/h)     0
ì‚¬ê³ íšŸìˆ˜             0
ì‚¬ê³ ì§€ì ìœ„ë„           0
ì‚¬ê³ ì§€ì ê²½ë„           0
str              0
end              0
Xcode,Ycode_x    0
Xcode,Ycode_y    0
dtype: int64

In [187]:
result2.to_csv('result2.csv')