주유소 가격과 고속도로 통행량의 상관성
http://data.ex.co.kr/openapi/basicinfo/openApiInfoM?apiId=0509&serviceType=&keyWord=%EC%A3%BC%EC%9C%A0%EC%86%8C%20%EA%B0%80%EA%B2%A9%20&searchDayFrom=2014.12.01&searchDayTo=2022.06.20&CATEGORY=&GROUP_TR=

In [1]:
! pip install xmltodict

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.13.0

In [2]:
import json

def parse_re(input_re: str):
    try:
        return_dict = json.loads(input_re)
    except json.decoder.JSONDecodeError:
        return_dict = dict()
    finally:
        return return_dict

In [3]:
import pandas as pd
from pandas.io.json import json_normalize
import requests
import pprint
import json

In [4]:
url = 'http://data.ex.co.kr/openapi/restinfo/restOilpriceList?key=...&type=json'

# restinfo/restOilList?
## hiwaySvarInfoList?

response = requests.get(url) 
contents = response.text 
json_ob = parse_re(contents)
body = json_ob['list']
dataframe = pd.DataFrame(body)

In [5]:
dataframe.shape

(4092, 19)

In [6]:
dataframe.head(3) # vdsld : 콘존 id

,destination,unitName,unitCode,sdate,stdHour,routeNo,routeName,vdsId,updownType,locName,oilCompany,lpg,telNo,gasolinePrice,dieselPrice,lpgPrice,trafficAmout,shareRatio,avgSpeed
0,S,서울만남,B00001,20220619,00,0010,경부선,0010VDE32350,부산,415,AD,Y,02-573-7430,"2,109원","2,185원","1,186원",2099,2.00,112.47
1,E,죽전,B00012,20220619,00,0010,경부선,0010VDE30701,서울,399,AD,N,031-262-4602,"2,110원","2,140원",X,1999,2.12,99.08
2,S,기흥,B00002,20220619,00,0010,경부선,0010VDE30000,부산,388,AD,Y,031-286-5185,"2,105원","2,149원","1,150원",1932,3.58,97.11

In [7]:
dataframe.to_csv('주유소 가격과 고속도로 통행량의 상관성.csv',index=False)