http://data.ex.co.kr/openapi/basicinfo/openApiInfoM?apiId=0504&serviceType=&keyWord=%EC%A3%BC%EC%9C%A0%EC%86%8C&searchDayFrom=2014.12.01&searchDayTo=2022.05.31&CATEGORY=BU&GROUP_TR=

In [1]:
! pip install xmltodict

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.13.0

In [2]:
import json

def parse_re(input_re: str):
    try:
        return_dict = json.loads(input_re)
    except json.decoder.JSONDecodeError:
        return_dict = dict()
    finally:
        return return_dict

In [3]:
import pandas as pd
from pandas.io.json import json_normalize
import requests
import pprint
import json

In [4]:
url = 'http://data.ex.co.kr/openapi/restinfo/restOilList?key=2699999413&type=json'
response = requests.get(url) 
contents = response.text 
json_ob = parse_re(contents)
body = json_ob['list']
dataframe = pd.DataFrame(body) # 전엔 빈 df 만들고 append 해줬었는데
                               # 그러지 않아도 쉽게 그냥.. 리스트를 그대로 데이터프레임 만들어주면 됨
                               # 🤗

In [5]:
dataframe

,stdRestCd,stime,routeCd,svarAddr,routeNm,stdRestNm,etime,redId,redDtime,lsttmAltrUser,lsttmAltrDttm,psCode,psName,psDesc
0,000002,09:00,0010,서울시 서초구 원지동10-16,경부선,서울만남(부산)주유소,18:00,MANJ03,16/03/10,SYSTEM,2022-05-02,07,쉼터,"고객쉼터-안마기,컴퓨터,팩스,혈압계,무료커피자판기,신장및체중계,핸드폰충전기,핸드폰소독기"
1,000004,00:00,0010,경기 용인시 죽전동866-2,경부선,죽전(서울)주유소,24:00,O000004001,16/03/09,SYSTEM,2022-05-02,07,쉼터,"고객쉼터 - 인터넷 및 커피자판기 무료 이용, 휴식을 취할 수 있는 편안한 쇼파 비치"
2,000004,00:00,0010,경기 용인시 죽전동866-2,경부선,죽전(서울)주유소,24:00,O000004001,16/03/09,SYSTEM,2022-05-02,99,기타,야외쉼터 - 티테이블 및 의자 비치
3,000006,00:00,0010,경기도 용인시 기흥읍공세리 277-7,경부선,기흥(부산)주유소,24:00,O000006001,21/09/16,SYSTEM,2022-05-02,07,쉼터,"TV,안마기,냉온정수기,커피자판기,체중계,상비약,고속도로안내지도 활용"
4,000008,08:00,0010,경기도 안성군 원곡면산하리 산68-6,경부선,안성(서울)주유소,19:30,O000008001,21/09/15,SYSTEM,2022-05-02,06,세차장,"기본세차 6,000원(추가 : 버블세차 1,000원 , 하부세차 1,000원) , ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,000574,00:00,0400,경기 평택시 청북읍평택제천고속도로 6(평택복합휴게시설),평택제천선,평택(제천)주유소,24:00,ptjc,21/07/19,SYSTEM,2022-05-02,99,기타,"화물차 생수지급, 쿠료커피, 냉온정수기, 팩스사용무료"
439,000579,00:00,0140,울산 울주군 삼동면보은리 산 193-1,함양울산선,울주(함양)주유소,24:00,hyj,21/02/09,SYSTEM,2022-05-02,07,쉼터,"☎052-977-3243 커피자판기,냉온수기 정수기"
440,000579,00:00,0140,울산 울주군 삼동면보은리 산 193-1,함양울산선,울주(함양)주유소,24:00,hyj,21/02/09,SYSTEM,2022-05-02,99,기타,"점프케이블, 인터넷, 복사, 패스, 상비의약품, 몰카탐지 서비스 제공"
441,000580,00:00,0140,울산 울주군 삼동면보은리 산 213-15 외 10필지,함양울산선,울주(울산)주유소,24:00,usj,21/02/09,SYSTEM,2022-05-02,07,쉼터,"☎)052-977-2243 커피자판기, 냉온수기 정수기"
442,000580,00:00,0140,울산 울주군 삼동면보은리 산 213-15 외 10필지,함양울산선,울주(울산)주유소,24:00,usj,21/02/09,SYSTEM,2022-05-02,99,기타,"점프케이블, 인터넷, 복사, 팩스, 상비의약품,몰카탐지 서비스 제공"

In [6]:
dataframe.to_csv('expressway500.csv',index=False)